@use "../../styles/mixins" as mixins;

.main {
    padding: 2rem;

    @include mixins.md {
        padding: 4rem 5rem;
    }
    
    max-width: 1200px;
    margin: auto;
    position: relative;
    min-height: var(--minheight);
    height: auto!important;

    &:after {
        display: block;
        width: 665px;
        height: 577px;
        content: " ";
        background-image: url(../../../app/assets/Shape1.svg);
        background-size: contain;
        position: absolute;
        top: 50px;
        right: -400px;
        z-index: 1;
    }

    h1 {
        margin: 48px 0 var(--spacing-l) 0;
    }

    .MemberInfo {
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: var(--spacing-xl);
        position: relative;
        z-index: 2;
        margin-bottom: 32px;

        @include mixins.md {
            grid-template-columns: 1fr 2fr;
        }

        .MemberInfo_Image {
            width: 100%;
            height: auto;
            border-radius: var(--border-radius-l);
        }

        .MemberInfo_Content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-m);

            .MemberInfo_Description {

                @include mixins.md {
                    background-image: linear-gradient(to right, transparent 33%, white);
                    backdrop-filter: blur(2px);
                    padding: var(--spacing-l) var(--spacing-xl);
                    padding-left: 0;
                    border-radius: var(--border-radius-l);
                }

                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-m);

                font: var(--font-1);
                line-height: 28px;

                &:empty {
                    display: none !important;
                }
            }

            .taglist {
                display: inline-flex;
                flex-wrap: wrap;
                gap: var(--spacing-m);

                @include mixins.md {
                    gap: var(--spacing-l);
                }

                div {
                    font-family: var(--font-title);
                    text-transform: uppercase;
                    font: var(--font-small);
                    font-weight: 500;
                    letter-spacing: var(--spacing-xs);
                    text-transform: uppercase;
                    display: flex;
                    padding: var(--spacing-m) calc(var(--spacing-m) + var(--spacing-s));
                    justify-content: center;
                    align-items: center;
                    border-radius: var(--border-radius-m);
        
                    color: var(--white);
                    transition: var(--transi);

                    background: white;
        
                    &:first-child {
                        background: linear-gradient(143deg, #BD96FD -3.55%, #F4C7C2 103.55%);
                    }

                    &.color {
                        color: white;
                        border: none;
                        background-color: var(--member-color);
                        display: flex;
                        gap: 8px;
                    }
                }
            }   

            .MemberInfo_Projects {
                font-weight: 500;
                letter-spacing: 0.5px;
                font-family: var(--font-title);
                font-size: 14px;
                padding: 16px 0 8px 0;
                margin-bottom: 8px;
                border-bottom: 1px solid #ededed;

                @include mixins.md {
                    width: 50%;
                }

                a {
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: var(--at-purple);
                    transition: var(--transi);

                    &:hover {
                        color: var(--at-peach);
                    }
                }
            }

            .MemberInfo_SNS {
                display: flex;
                gap: 16px;
                margin: 16px 0;

                a {
                    display: flex;
                    font-size: 20px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;

                    padding: 4px;
                    height: 40px;
                    width: 40px;

                    color: white;
                    background-image: linear-gradient(136deg, #BD96FD -6%, #F4C7C2 53%, #BD96FD 106%);
                    background-size: 200% 100%;
                    background-position: center left;
                    transition: var(--transi);
                    border-radius: 8px;

                    &:hover {
                        background-position: center right;
                    }
                }
            }
        }
    }

    .VideoGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: var(--spacing-xxl);

        @include mixins.md {
            grid-template-columns: 1fr 1fr;
        }

        iframe {
            aspect-ratio: 16/9;
            border-radius: var(--border-radius-l);
            overflow: hidden;
        }
    }

}