.color {
        background-color: var(--member-color) !important;

        font-family: var(--font-title);
        text-transform: uppercase;
        font: var(--font-small);
        font-weight: 500;
        letter-spacing: var(--spacing-xs);
        text-transform: uppercase;
        display: flex;
        padding: var(--spacing-m) calc(var(--spacing-m) + var(--spacing-s));
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-m);

        color: white;
        transition: var(--transi);
        border: none;
        display: flex;
        gap: 8px;

        &.contrast {
                color: var(--at-darkgrey) !important;
        }
}