.Member_Container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: relative;
    z-index: 2;

    .Member_Tags {
        display: flex;
        gap: 16px;
        position: relative;
        z-index: 2;

        .tag {
            text-transform: uppercase;
            font: var(--font-small);
            font-weight: 500;
            font-family: var(--font-title);
            letter-spacing: var(--spacing-xs);
            display: flex;
            padding: var(--spacing-m) calc(var(--spacing-m) + var(--spacing-s));
            justify-content: center;
            align-items: center;
            border-radius: var(--border-radius-m);

            color: var(--at-purple);
            border: 1px solid var(--at-purple);
            transition: var(--transi);

            &:hover {
                color: var(--at-peach);
                border: 1px solid var(--at-peach);
                cursor: pointer;
            }

            &:first-child {
                background: linear-gradient(143deg, #BD96FD -3.55%, #F4C7C2 103.55%);
                color: var(--white);
                border: none;
            }
        }
    }

    .Member_Grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 64px 48px;
        position: relative;
        z-index: 2;

        .Member_Card {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .Member_Image {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-family: var(--font-title);
                font-style: normal;
                text-transform: uppercase;
                font-weight: 600;

                .name {
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 2.4px;
                }
                .status {
                    color: var(--midgrey);
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 1.8px;
                }
            }

        }
    }
}