@use "../styles/mixins" as mixins;
@use "../styles/variables" as *;

.menuContent {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;

    li {
        width: 100%;
        text-align: center;

        @include mixins.md {
            width: fit-content;
        }

        a {
            transition: var(--transi);
            font-family: var(--font-title);
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2.5px;
            display: inline-block;
            position: relative;
            padding: 16px 0 8px 0;
            width: 100%;

            @include mixins.md {
                width: fit-content;
                padding: 0;
                color: var(--at-darkgrey);
            }

            &:after {
                transition: var(--transi);
                display: block;
                width: 12px;
                height: 12px;
                content: " ";
                background-image: url(../assets/Etoiles_white.svg);
                background-size: cover;
                transform: scale(0);
                transform-origin: center;
                position: absolute;
                top: 0px;
                left: calc((100% - 12px)/2);

                @include mixins.md {
                    top: -16px;
                    background-image: url(../assets/Etoiles.svg);
                }
            }

            &:hover {
                color: var(--at-purple);

                &:after {
                    transform: scale(1);
                }
            }
        }


    }

    &.menuLeft {
        justify-content: flex-end;
    }
    &.menuRight {
        justify-content: flex-start;
    }
}

.Menu {
    width: 100%;
    height: var(--menu-height);
    padding: 16px;

    position: relative;
    top: 0px;
    z-index: 3;

    display: grid;
    grid-template-columns: 1fr var(--logo-size-mobile) 1fr;
    grid-gap: 32px;
    align-items: center;

    @include mixins.md {
        grid-template-columns: 1fr var(--logo-size-desktop) 1fr;
    }

    > a {

        img {
            width: var(--logo-size-mobile);
            height: auto;

            @include mixins.md {
                width: var(--logo-size-desktop);
            }
        }
    }

}