@use "../styles/mixins" as mixins;
@use "../styles/variables" as *;

.menuContent {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;

    a {
        transition: var(--transi);
        font-family: var(--font-title);
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2.5px;
        display: inline-block;
        position: relative;

        @include mixins.md {
            color: var(--at-darkgrey);
        }

        &:after {
            transition: var(--transi);
            display: block;
            width: 12px;
            height: 12px;
            content: " ";
            background-image: url(../assets/Etoiles.svg);
            background-size: cover;
            transform: scale(0);
            transform-origin: center;
            position: absolute;
            top: -16px;
            left: calc((100% - 12px)/2);
        }

        &:hover {
            color: var(--at-purple);

            &:after {
                transform: scale(1);
            }
        }
    }

    &.menuLeft {
        justify-content: flex-end;
    }
}

.Menu {
    width: 100%;
    height: var(--menu-height);
    padding: 16px;

    position: relative;
    top: 0px;
    z-index: 3;

    display: grid;
    grid-template-columns: 1fr var(--logo-size-mobile) 1fr;
    grid-gap: 32px;
    align-items: center;

    @include mixins.md {
        grid-template-columns: 1fr var(--logo-size-desktop) 1fr;
    }

    > a {

        img {
            width: var(--logo-size-mobile);
            height: auto;

            @include mixins.md {
                width: var(--logo-size-desktop);
            }
        }
    }

}