:root {
  --max-width: 1200px;
  --logo-size: 4rem;
  --font-text-en: 'Satoshi';
  --font-text-jp: 'Noto Sans JP';
  --font-title-en: 'Quicksand';
  --font-text: var(--font-text-en), var(--font-text-jp), Helvetica, Arial, sans-serif;
  --font-title: var(--font-title-en), var(--font-text-jp), Helvetica, Arial, sans-serif;

  --white: #ffffff;
  --midgrey: #999999;
  --light-grey: #f4f4f4;
  --at-purple: #BD96FD;
  --at-purple-rgb: 189, 150, 253;
  --at-peach: #F4C7C2;
  --at-darkgrey: #6B6178;

  --gradient-angle: to right;
  --at-gradient: linear-gradient(var(--gradient-angle),var(--at-purple), var(--at-peach));

  --transi: all 0.3s ease;
}
::selection {
  background: rgba(var(--at-purple-rgb),0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-text);
}

body {
  color: var(--at-darkgrey);
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
