:root {
  --max-width: 1200px;
  --menu-height: 96px;

  --logo-size-desktop: 64px;
  --logo-size-mobile: 48px;
  --font-text-en: 'Satoshi';
  --font-text-jp: 'Noto Sans JP';
  --font-title-en: 'Quicksand';
  --font-text: var(--font-text-en), var(--font-text-jp), Helvetica, Arial, sans-serif;
  --font-title: var(--font-title-en), var(--font-text-jp), Helvetica, Arial, sans-serif;

  --font-1: 16px/24px var(--font-text);
  --font-2: 14px/21px var(--font-text);
  --font-small: 12px/20px var(--font-text);

  --white: #ffffff;
  --midgrey: #999999;
  --light-grey: #f4f4f4;
  --at-purple: #BD96FD;
  --at-purple-rgb: 189, 150, 253;
  --at-peach: #F4C7C2;
  --at-darkgrey: #6B6178;

  --gradient-angle: to right;
  --at-gradient: linear-gradient(var(--gradient-angle),var(--at-purple), var(--at-peach));

  --transi: all 0.3s ease;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;

  --spacing-xs: 2px;
  --spacing-s: 4px;
  --spacing-m: 8px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
}
::selection {
  background: rgba(var(--at-purple-rgb),0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font: var(--font-1);
  color: var(--at-darkgrey);;
}

body {
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  font: var(--font-small);
  font-weight: 500;
  letter-spacing: var(--spacing-xs);
  text-transform: uppercase;
  display: flex;
  gap: var(--spacing-m);
  padding: var(--spacing-m) calc(var(--spacing-m) + var(--spacing-s));
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-m);
  color: var(--at-purple);
  border: 1px solid var(--at-purple);
  transition: var(--transi);
}
button:hover {
  color: var(--at-peach);
  border: 1px solid var(--at-peach);
  cursor: pointer;
}

h1 {
  position: relative;
  z-index: 2;
  font-family: var(--font-title);
  font-size: 24px;
  text-transform: uppercase;
  height: 40px;
  letter-spacing: var(--spacing-s);
  font-weight: 600;
  margin: var(--spacing-l) 0 var(--spacing-xxl) 0;
}

h2 {
  position: relative;
  z-index: 2;
  font-family: var(--font-title);
  font-size: 24px;
  text-transform: uppercase;
  height: 40px;
  letter-spacing: var(--spacing-s);
  font-weight: 600;
  margin: var(--spacing-l) 0 var(--spacing-xxl) 0;
}

h3 {
  position: relative;
  z-index: 2;
  font-family: var(--font-title);
  font-size: 20px;
  text-transform: uppercase;
  height: 32px;
  letter-spacing: var(--spacing-xs);
  font-weight: 600;
  margin: var(--spacing-m) 0 var(--spacing-xl) 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
