@use "../../app/styles/mixins" as mixins;

.HeroContainer {
    width: 100%;
    position: relative;
    z-index: 3;

    @include mixins.md {
        width: 100%;
        top: 0;
        left: 0;
        max-height: 80vh;
    }

    .Hero {
        width: 100%;
        aspect-ratio: 3/2;
        height: auto;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 2;
        border-radius: 16px;
        overflow: hidden;

        @include mixins.md {
            width: 100%;
            top: 0;
            left: 0;
            max-height: 80vh;
        }

        .Carousel {
            width: 100%;
            height: 100%;

            .Slide {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }


        .swiper-pagination-bullet {
            background: #fff; // Navigation dot color
            opacity: 0.8;
        }
        
        .swiper-pagination-bullet-active {
            background: #bd96fd; // Active dot color
            opacity: 1;
        }
    }

    &:after {
        display: none;
        width: 665px;
        height: 577px;
        content: " ";
        background-image: url(../../app/assets/Shape1.svg);
        background-size: contain;
        position: absolute;
        top: -300px;
        right: -200px;
        z-index: 1;

        @include mixins.md {
            display: none;
        }
    }
}