@use "../../app/styles/mixins" as mixins;

.HeroContainer {
    width: 100%;
    position: relative;
    z-index: 3;

    @include mixins.md {
        width: 100%;
        top: 0;
        left: 0;
        max-height: 80vh;
    }

    .Hero {
        width: 100%;
        aspect-ratio: 3/2;
        height: auto;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 2;
        border-radius: 16px;
        overflow: hidden;

        @include mixins.md {
            width: 100%;
            top: 0;
            left: 0;
            max-height: 80vh;
        }
    }

    &:after {
        display: none;
        width: 665px;
        height: 577px;
        content: " ";
        background-image: url(../../app/assets/Shape1.svg);
        background-size: contain;
        position: absolute;
        top: -300px;
        right: -200px;
        z-index: 1;

        @include mixins.md {
            display: none;
        }
    }
}