@use "../../app/styles/mixins" as mixins;

.container {
    max-width: 1200px;
    margin: 3rem auto 2rem auto;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include mixins.md { 
      padding: 0 32px;
    }

    &:after {
        display: block;
        width: 665px;
        height: 577px;
        content: " ";
        background-image: url(../../app/assets/Shape2.svg);
        background-size: contain;
        position: absolute;
        bottom: 100px;
        left: -300px;
        z-index: 1;

        @include mixins.md { 
          bottom: -50px;
        }
      }

    > h3 {
      order: 1;
    }  

    a {
      position: relative;
      z-index: 2;
      order: 3;

      button {
        width: 100%;

        @include mixins.md { 
          width: fit-content;
        }
      }

      @include mixins.md { 
        position: absolute;
        top: 0;
        right: 32px;
      }
    }

    > section {
      order: 2;
      margin-bottom: 32px;
    }
}