.container {
    padding: 6rem 3rem;
    max-width: 1200px;
    margin: auto;
    position: relative;

    h2 {
        font-family: var(--font-title);
        font-size: 24px;
        text-transform: uppercase;
        height: 40px;
        letter-spacing: 7.2px;
        font-weight: 600;
        margin-bottom: 56px;
    }
}